<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456180038779-oq0hgmj9rmh3shg2ush6e16fcsob44hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456180038779-oq0hgmj9rmh3shg2ush6e16fcsob44hg</string>
	<key>API_KEY</key>
	<string>AIzaSyAiYiFFgbT1geoSxcoJy5IzU04qG0r1zAA</string>
	<key>GCM_SENDER_ID</key>
	<string>456180038779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mangavocabulometer</string>
	<key>PROJECT_ID</key>
	<string>mangavocabulometer-8ac9f</string>
	<key>STORAGE_BUCKET</key>
	<string>mangavocabulometer-8ac9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456180038779:ios:47f16ae782146405ac36de</string>
	<key>DATABASE_URL</key>
	<string>https://mangavocabulometer-8ac9f.firebaseio.com</string>
</dict>
</plist>